@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1753327618348') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzuotai-04:before {
  content: "\ea26";
}

.icon-guanlizhongxin-shezhi-04:before {
  content: "\ea27";
}

.icon-guanlizhongxin-shezhi-01:before {
  content: "\ea28";
}

.icon-guanlizhongxin-shezhi-03:before {
  content: "\ea29";
}

.icon-xinzeng01:before {
  content: "\ea38";
}

.icon-a-biaoqing21:before {
  content: "\ea7e";
}

.icon-a-weituo4:before {
  content: "\ea90";
}

.icon-a-zhanghao1:before {
  content: "\ea94";
}

.icon-a-xiaoxi3:before {
  content: "\eb3f";
}

.icon-a-youjian2:before {
  content: "\eb40";
}

.icon-a-wendang14:before {
  content: "\ebb8";
}

